
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add_finish</title>
</head>
<body>
    <p>
        @Model.Introduce()
    </p>
    <div>
        <a asp-action="Index">Back to home page</a>
    </div>

</body>
</html>
